$color-grey-lighter: #F0F4F8;
$color-grey-light: #DBE2ED;
$color-grey: #A6BCD0;
$color-grey-dark: #748A9D;
$color-grey-darker: #4E5D6A;
$color-grey-deep: #404E5A;

$color-green: #7BED8D;
$color-red: #FB6C6C;

$enabledBorder:true;
